<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drivertestapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DriverTestApp">
        <activity android:name=".Activity_inteligence_test2"></activity>
        <activity android:name=".Activity_CISS_result"></activity>
        <activity android:name=".Activity_CISS" />
        <activity android:name=".Activity_intelligent_test" />
        <activity android:name=".Activity_reaction_test" />
        <activity android:name=".Activity_color_test" />
        <activity android:name=".activity_tests_page" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>